@import "../partials/globals";

#homeFooter, #battleFooter {
    font-family: $titleFont;
    padding: 1% 0%;
}

#homeFooter {
    background: $homeDarkColour;
    margin-top: 10vh;
}

#battleFooter {
    background: $battleDarkColour;
    color: white;
    margin-top: 10vh;
}