@import "../partials/globals";

#homeHeader, #battleHeader {
    @include displayGridCenter();
    margin-top: 5vh;

    img {
        width: 20vw;
    }
}

#homeHeader {
    row-gap: 20px;
    background: $homeLightColour;    
}

#battleHeader {
    grid-template-columns: repeat(3, 1fr);

    a {
        position: relative;
        text-decoration: none;
        color: white;
        z-index: 1;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}