@import "../partials/globals";

#homeHeader, #battleHeader {
    display: grid;
    place-items: center;
    margin-top: 5vh;

    img {
        width: 20vw;
    }
}

#homeHeader {
    row-gap: 20px;
    text-align: center;
    background: $homeLightColour;    
}

#battleHeader {
    grid-template-columns: repeat(3, 1fr);

    a {
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: white;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}