@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@-webkit-keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homeHeader, #battleHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 5vh;
}

#homeHeader img, #battleHeader img {
  width: 20vw;
}

#homeHeader {
  row-gap: 20px;
  text-align: center;
  background: #E8EAE6;
}

#battleHeader {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#battleHeader a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: white;
}

#battleHeader a:hover {
  color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homeFooter, #battleFooter {
  font-family: "Quicksand", sans-serif;
  padding: 1% 0%;
}

#homeFooter {
  background: #CDD0CB;
  margin-top: 10vh;
}

#battleFooter {
  background: #222831;
  color: white;
  margin-top: 10vh;
}

body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background: #E8EAE6;
  max-width: 100vw;
}

main {
  min-height: 50vh;
  margin-top: 10vh;
}

main h1 {
  margin: 10vh 0vh;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

main .pokemon {
  position: relative;
  display: inline-block;
  margin: 0% 5%;
  opacity: 0.5;
  text-decoration: none;
  color: black;
}

main .pokemon h1 {
  font-size: 1rem;
  text-align: center;
}

main .pokemon img {
  position: relative;
  width: 12vw;
}

main .pokemon .shadow {
  position: absolute;
  bottom: 17vh;
  background: #CDD0CB;
  height: 5vh;
  width: 100%;
  border-radius: 100%;
  z-index: -1;
  opacity: 0;
}

main .pokemon:hover img {
  -webkit-animation: bouncingPokemon 3s ease-in-out infinite;
          animation: bouncingPokemon 3s ease-in-out infinite;
}

main .pokemon:hover .shadow {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: movingShadow 3s ease-in-out infinite;
          animation: movingShadow 3s ease-in-out infinite;
}

main .pokemon:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#resumeGame {
  margin-bottom: 5vh;
}

#resumeGame a {
  background: #bfc2bd;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

#resumeGame a:hover {
  background: #7078B3;
  color: white;
}
/*# sourceMappingURL=style.css.map */