@import "../partials/header";
@import "../partials/footer";

body {
    background: $homeLightColour;
}

main {
    min-height: 50vh;
    margin-top: 10vh;

    h1 {
        margin: 10vh 0vh;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.5rem;
    }

    .pokemon {
        position: relative;
        display: inline-block;
        margin: 0% 5%;
        text-decoration: none;
        color: black;
        opacity: 0.5;

        h1 {
            font-size: 1rem;
        }

        img {
            position: relative;
            width: 12vw;
        }

        .shadow {
            @include positionAndHeight(absolute, 5vh);
            bottom: 17vh;
            width: 100%;
            background: $homeDarkColour;
            border-radius: 100%;
            opacity: 0;
            z-index: -1;
        }

        &:hover img {
            animation: bouncingPokemon 3s ease-in-out infinite;
        }

        &:hover .shadow {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            animation: movingShadow 3s ease-in-out infinite;
        }

        &:hover {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }
    }
}

#resumeGame {
    margin-bottom: 5vh;
    
    a {
        @include buttonStyle(#bfc2bd);
        text-decoration: none;
        padding: 1%;

        &:hover {
            color: white;
            background: $battleAccentColour;
        }
    }
}