@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@-webkit-keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homeHeader, #battleHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 5vh;
}

#homeHeader img, #battleHeader img {
  width: 20vw;
}

#homeHeader {
  row-gap: 20px;
  text-align: center;
  background: #E8EAE6;
}

#battleHeader {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#battleHeader a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: white;
}

#battleHeader a:hover {
  color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes bouncingPokemon {
  0% {
    top: 0vh;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes movingShadow {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lightningBolt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homeFooter, #battleFooter {
  font-family: "Quicksand", sans-serif;
  padding: 1% 0%;
}

#homeFooter {
  background: #CDD0CB;
  margin-top: 10vh;
}

#battleFooter {
  background: #222831;
  color: white;
  margin-top: 10vh;
}

body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background: #393E46;
  max-width: 100vw;
}

#lightningBolts {
  position: relative;
}

#lightningBolts #lightningOne, #lightningBolts #lightningTwo {
  position: absolute;
  top: -3vh;
  height: 30vh;
  opacity: 0;
  -webkit-animation: lightningBolt 3s linear 60s;
          animation: lightningBolt 3s linear 60s;
}

#lightningBolts #lightningOne {
  right: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#lightningBolts #lightningTwo {
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#arena {
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

#arena .players {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 5px;
  height: 60%;
}

#arena .players img {
  width: 20vw;
}

#arena .players #attackButton {
  margin-top: 5vh;
  width: 100%;
  background: #7078B3;
  padding: 2vh 0vh;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px #222831;
          box-shadow: 1px 1px 10px #222831;
}

#arena .players #attackButton:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#arena .players #phantump {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 20vw;
}

#arena .players .healthBar {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 2vh;
  height: 30px;
  outline: 1px solid #7078B3;
}

#arena .players .healthBar .hpLabel, #arena .players .healthBar .healthPercentage {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: #7078B3;
}

#arena .players .healthBar .healthPercentage {
  color: #7078B3;
}

#arena .players .healthBar .healthBarFill {
  position: absolute;
  z-index: -1;
  height: 100%;
  background: #222831;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#arena .players #userHealthBar {
  width: 100%;
}

#arena .players #computerHealthBar {
  width: 77%;
  text-align: center;
}

#arena #computerPokemon {
  row-gap: 30px;
}

#arena #computerPokemon > p {
  text-transform: uppercase;
  color: white;
}

#arena #battleMessages h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
}
/*# sourceMappingURL=battle.css.map */