@import "../partials/globals";
@import "../partials/header";
@import "../partials/footer";

body {
    font-family: $bodyFont;
    text-align: center;
    background: $battleLightColour;
    max-width: 100vw;
}

#lightningBolts {
    position: relative;

    #lightningOne, #lightningTwo {
        position: absolute;
        top: -3vh;
        height: 30vh;
        opacity: 0;
        animation: lightningBolt 3s linear 60s;
    }

    #lightningOne {
        right: 0;
        animation-delay: 1s;
    }

    #lightningTwo {
        left: 0;
        transform: scaleX(-1);
        animation-delay: 6s;
    }

}

#arena {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    .players {
        display: grid;
        place-items: center;
        row-gap: 5px;
        height: 60%;

        img {
            width: 20vw;
        }
        
        #attackButton {
            margin-top: 5vh;
            width: 100%;
            background: $battleAccentColour;
            padding: 2vh 0vh;
            border-radius: 10px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            box-shadow: 1px 1px 10px $battleDarkColour;

            &:active {
                box-shadow: none;
            }
        }

        #phantump {
            transform: scaleX(-1);
            width: 20vw;
        }

        .healthBar {
            position: relative;
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 2vh;
            height: 30px;
            outline: 1px solid $battleAccentColour;

            .hpLabel, .healthPercentage {
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                color: $battleAccentColour;
            }

            .healthPercentage {
                color: $battleAccentColour;
            }
    
            .healthBarFill {
                position: absolute;
                z-index: -1;
                height: 100%;
                background: $battleDarkColour;

                width: 100%;
                transition: all 0.3s ease-in-out;
            }
        }

        #userHealthBar {
            width: 100%;
        }

        #computerHealthBar {
            width: 77%;
            text-align: center;
        }
    }

    #computerPokemon {
        row-gap: 30px;

        >p {
            text-transform: uppercase;
            color: white;
        }
    }

    #battleMessages {

        h1 {
            letter-spacing: 1px;
            text-transform: uppercase;
            color: white;
            font-size: 2rem;
        }
    }
}