@import "../partials/header";
@import "../partials/footer";

body {
    background: $battleLightColour;
}

#lightningBolts {
    position: relative;

    #lightningOne, #lightningTwo {
        @include positionAndHeight(absolute, 30vh);
        top: -3vh;
        opacity: 0;
        animation: lightningBolt 3s linear 60s;
    }

    #lightningOne {
        right: 0;
        animation-delay: 1s;
    }

    #lightningTwo {
        left: 0;
        transform: scaleX(-1);
        animation-delay: 6s;
    }
}

#arena {
    @include displayGridCenter();
    grid-template-columns: repeat(3, 1fr);
    min-height: 80vh;

    .players {
        @include displayGridCenter();
        row-gap: 5px;
        height: 60%;

        img {
            width: 20vw;
        }
        
        #attackButton {
            @include buttonStyle($battleAccentColour);
            margin-top: 5vh;
            width: 100%;
            padding: 2vh 0vh;
            box-shadow: 1px 1px 10px $battleDarkColour;
            cursor: pointer;

            &:active {
                box-shadow: none;
            }
        }

        // #phantump {
        //     transform: scaleX(-1);
        //     width: 20vw;
        // }

        .healthBar {
            @include positionAndHeight(relative, 30px);
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 2vh;
            outline: 1px solid $battleAccentColour;

            .hpLabel, .healthPercentage {
                @include displayGridCenter();
                width: 100%;
                height: 100%;
                color: $battleAccentColour;
            }
    
            .healthBarFill {
                @include positionAndHeight(absolute, 100%);
                background: $battleDarkColour;
                z-index: -1;

                width: 100%;
                transition: all 0.3s ease-in-out;
            }
        }

        #userHealthBar {
            width: 100%;
        }

        #computerHealthBar {
            width: 77%;
        }
    }

    #computerPokemon {
        row-gap: 30px;

        >p {
            @include textStyle(white);
        }
    }

    #battleMessages {

        h1 {
            @include textStyle(white);
            font-size: 2rem;
            letter-spacing: 1px;
        }
    }
}